.cart-wrapper{
    height: 20vh;
    width: 80%;
    border: 1px solid wheat;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    padding: 4px;
    background-image: linear-gradient(rgb(227, 189, 189),rgb(209, 225, 209));
}
.cart-wrapper:hover{
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.605);
}
.table{
    width:20%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-remove{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}   

@media screen and (min-width:320px) and (max-width:480px){
    .cart-wrapper{
        width: 100%;
        display: block;
        height: 42vh;
        /* padding: 20px; */
    }
    .cart-image{
        height: 20vh;
        width: 100%;
    }
    .cart-name{
        width: 100%;
        display: block;
    }
    .cart-quantity{
        height: 5vh;
        width: 100%;
        display: block;
    }
    .cart-price{
        width: 100%;
        display: block; 
    }
    .cart-remove{
        width: 100%;
        display: block; 
        height: 5vh;  
    }
    .cart-remove Button{
        padding: 2px 4px;
    }

}